{% extends 'city/navbar.html' %}
{% load static %}
{% block title %}
<title>Clean Environment | About</title>
{% endblock title %}
{% block content %}

<style>
  .container {
    background: rgb(233, 232, 232);
  }
  p {
    font-size: 18px;
  }
</style>

<br />
<h1>About Us</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/about2.jpg' %}" alt="About Us Image" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <p>
        The CrowdSourced Environmental Reporting platform offers an easy-to-use system for users to report problems related to garbage, sewage, and drainage. By visiting the "Complaints" section, users can fill out a form that specifies the issue and its location. To assist authorities in better assessing the problem, users can also attach photos or videos. Our goal is to ensure prompt action on user complaints and maintain a safe, healthy city environment.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid d-flex flex-column align-items-center">
  <div class="row w-100 justify-content-center">
    <div class="card col-md-6 col-lg-4 m-2">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-regular fa-clipboard"></i> Raise Complaint
        </h5>
        <p class="card-text">You can fill your complaints here.</p>
        <a href="{% url 'complaint' %}" class="btn btn-primary">Complaint</a>
      </div>
    </div>
    <div class="card col-md-6 col-lg-4 m-2">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-solid fa-check"></i> Track Complaint
        </h5>
        <p class="card-text">You can track your complaints here.</p>
        <a href="{% url 'check_status' %}" class="btn btn-success">Track Complaint</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
